In [1]:
import numpy as np
import pandas as pd

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
class HealthCare(Base):
    __tablename__ = "healthcare"
    EmployeeID = Column(Integer, primary_key=True)
    Age = Column(Integer)
    Attrition = Column(String)
    BusinessTravel = Column(String)
    DailyRate = Column(Integer)
    Department = Column(String)
    DistanceFromHome = Column(Integer)
    Education = Column(Integer)
    EducationField = Column(String)
    EmployeeCount = Column(Integer)
    EnvironmentSatisfaction = Column(Integer)
    Gender = Column(String)
    HourlyRate = Column(Integer)
    JobInvolvement = Column(Integer)
    JobLevel = Column(Integer)
    JobRole = Column(String)
    JobSatisfaction = Column(Integer)
    MaritalStatus = Column(String)
    MonthlyIncome = Column(Integer)
    MonthlyRate = Column(Integer)
    NumCompaniesWorked = Column(Integer)
    Over18 = Column(String)
    OverTime = Column(String)
    PercentSalaryHike = Column(Integer) 
    PerformanceRating = Column(Integer) 
    RelationshipSatisfaction = Column(Integer)
    StandardHours = Column(Integer)
    Shift = Column(Integer)
    TotalWorkingYears = Column(Integer)
    TrainingTimesLastYear = Column(Integer)
    WorkLifeBalance = Column(Integer) 
    YearsAtCompany = Column(Integer)
    YearsInCurrentRole = Column(Integer) 
    YearsSinceLastPromotion = Column(Integer)
    YearsWithCurrManager = Column(Integer)

In [4]:
# create engine to healthcare.sqlite
engine = create_engine("sqlite:///data.sqlite")
Base.metadata.create_all(engine)
conn= engine.connect()

In [5]:
session = Session(bind=engine)

In [6]:
inspector = inspect(engine)
inspector.get_table_names()

['healthcare']

In [7]:
data = pd.read_sql("SELECT * FROM healthcare", conn)
data.head()

Empty DataFrame
Columns: [EmployeeID, Age, Attrition, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, Shift, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager]
Index: []

[0 rows x 35 columns]

In [10]:
csv_df = pd.read_csv('watson_healthcare_data.csv')
csv_df.head(5)

,EmployeeID,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,Shift,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1313919,41,No,Travel_Rarely,1102,Cardiology,1,2,Life Sciences,1,...,1,80,0,8,0,1,6,4,0,5
1,1200302,49,No,Travel_Frequently,279,Maternity,8,1,Life Sciences,1,...,4,80,1,10,3,3,10,7,1,7
2,1060315,37,Yes,Travel_Rarely,1373,Maternity,2,2,Other,1,...,2,80,0,7,3,3,0,0,0,0
3,1272912,33,No,Travel_Frequently,1392,Maternity,3,4,Life Sciences,1,...,3,80,0,8,3,3,8,7,3,0
4,1414939,27,No,Travel_Rarely,591,Maternity,2,1,Medical,1,...,4,80,1,6,3,3,2,2,2,2

In [12]:
csv_df.to_sql('healthcare', conn, if_exists='append', index=False)

1676

In [13]:
data = pd.read_sql("SELECT * FROM healthcare", conn)
data.head()

,EmployeeID,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,Shift,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1025177,40,No,Travel_Frequently,791,Maternity,2,2,Medical,1,...,4,80,1,8,2,3,8,7,3,7
1,1026798,24,No,Travel_Rarely,1353,Cardiology,3,2,Other,1,...,1,80,1,4,2,2,3,2,0,2
2,1026975,50,No,Travel_Rarely,854,Cardiology,1,4,Medical,1,...,3,80,1,32,3,2,7,0,0,6
3,1028391,49,No,Travel_Rarely,1495,Maternity,5,4,Technical Degree,1,...,2,80,1,20,0,2,3,2,1,2
4,1028630,54,No,Travel_Frequently,928,Maternity,20,4,Life Sciences,1,...,4,80,0,20,4,2,4,3,0,3